*{
    background-color: #E5E5E5;
    margin: 0;
}

body{
    width: 1440px;
    height: 1024px;
}

/* Vector */
#logo{
    position: absolute;
    left: 84px;
    top: 40px;
    bottom: 0%;
    color: #0A3871;
    height: 48px;
    width: 31.09px;
}

.text{
    position: absolute;
    width: 577px;
    left: 240px;
    top: 168px;
}

.text textarea{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: none;
    appearance: none;
    outline: none;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: flex-start;
}

.text textarea:focus{
    outline: none;
}

/* Rectangle 1 */
.mensaje{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08); 
    border-radius: 32px;
}

.mensaje div{
    position: relative;
    width: 336px;
    background-color: #FFFFFF;
    justify-content: center;
    user-select: none;
}

.mensaje-encriptado{
    display: none;
    height: 781px;
    user-select: auto !important;
}

.mensaje-encriptado p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    background-color: #FFFFFF;
}

.munheco{
    height: 304px;
}

.mensaje-encontrado{
    height: 58px;
    margin: 16px 0px;
}

.mensaje-encontrado p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #343A40;
    background-color: #FFFFFF;
    height: 100%;
    margin: 0;
}

.mensaje-aviso{
    height: 48px;
    margin: 16px 0px;  
    align-items: center;
}

.mensaje-aviso p{
    margin: 0%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; /* or 24px */
    text-align: center; /* Gray/gray-400 */
    color: #495057;
    background-color: #FFFFFF;
}

/* MUÑECO */
.munheco img{
    position: absolute;
    width: 336px;
    height: 304px;
    background-color: #FFFFFF;
}

/* AVISO Y BOTONES */

.frame13{
    position: relative;
    top: 851px;
    left: 264px;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.aviso{
    display: flex;
    margin: 5px;
    height: 18px;
    width: 250px;
}

#vectoraviso{
    display: flex;
    align-items: center;
    justify-content: center;
}

.advertencia{
    margin-left: 5px;
    height: 100%;
    width: 210px;
    user-select: none;
}

.advertencia p{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%; /* identical to box height, or 18px */
    color: #495057;
    opacity: 0.8;
    user-select: none;
}

.boton1{
    position: static;
    width: 328px;
    height: 67px;
    left: 0px;
    top: 0px;
    background: #0A3871;
    border: none;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    user-select: none;
}

.boton2{
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    margin-left: 24px;
    user-select: none;
}

.boton1:hover, .boton2:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.boton1:active, .boton2:active{
    transform: none;
    box-shadow: none;
}

.copiar{
    display: none;
    margin: 0 !important;
}

/* FOOTER */

footer{
    position: absolute;
    top: 1024px;
    width: 1440px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #d8d8d8;
    user-select: none;
    
}

#milogo img{
    background-color: #d8d8d8;
    width: 90px;
}

.nombre{
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
}

.nombre p{
    background-color: #d8d8d8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%; /* identical to box height, or 18px */
    color: #495057;
    opacity: 0.5;
    user-select: none;

}

#milogo, .redes, .redes a{
    background-color: #d8d8d8;
    display: flex;
    align-items: center;
}

.redes a img{
    width: 20px;
    background-color: #d8d8d8;
    margin-left: 10px;
}

.redes a img:hover{
    transform: scale(1.1);
}

/* RESPONSIVE COMPU MIA */
@media screen and (max-width: 1366px) {
    body{
        height: 617px
    }
    
    /* Vector */
    #logo{
        left: 44px;
    }
    
    .text{
        left: 120px;
        top: 120px;
    }
    
    /* Rectangle 1 */
    .mensaje{
        width: 380px;
        height: 537px;
        left: 940px;
        top: 30px;
    }
    
    .mensaje-encriptado{
        height: 400px;
    }
    
    .munheco{
        height: 304px;
    }
    
    /* MUÑECO */
    .munheco img{
        top: 10px;
        width: 300px;
        height: 268px;
    }
    
    /* AVISO Y BOTONES */
    
    .frame13{
        position: relative;
        top: 450px;
        left: 150px;
    }
    
    /* FOOTER */
    
    footer{
        position: absolute;
        top: 617px;
        width: 1366px;
    }
    
    .nombre p{
        font-size: 12px;
    }
    
    #milogo, .redes, .redes a{
        background-color: #d8d8d8;
        display: flex;
        align-items: center;
    }
    
}

/* RESPONSIVE TABLET */
@media screen and (max-width: 768px) {

    body{
        width: 768px;
        height: 1224px;
    }

    #logo{
        left: 6%;
        top: 6.25%;
        bottom: 89.8%;
        color: #0A3871;
        height: 48px;
        width: 31.09px;
    }

    .text{
        left: 40px;
        top: 240px;
    }
    
    .text textarea{
        width: 100%;
        height: 400px;
    }
    
    .mensaje{
        width: 688px;
        height: 133px;
        left: 40px;
        top: 1001px;
    }
    
    .mensaje div{
        width: 624px;
    }
    
    .munheco{
        display: none;
    }
    
    .mensaje-encontrado{
        width: 624px;
        height: 29px;
        
    }
    
    .mensaje-aviso{
        height: 24px; 
    }
    
    /* MUÑECO */
    .munheco img{
        display: none;
    }

    /* AVISO Y BOTONES */

    .frame13{
        top: 836px;
        left: 40px;
        width: 700px;
    }

    .boton1, .boton2{
        width: 332px;
    }

    .copiar{
        margin: 0 0 10px 150px !important;
    }

    footer{
        top: 1174px;
        width: 768px;
        height: 50px;        
    }
}

/* RESPONSIVE CELULAR */
@media screen and (max-width: 375px) {

    body{
        width: 375px;
        height: 983px;
    }

    /* Vector */
    #logo{
        left: 16px;
        right: 87.2%;
        top: 24px;
        bottom: 25%;
        height: 48px;
        width: 32px;
    }

    .text{
        width: 343px;
        left: 16px;
        top: 100px;
    }

    .text textarea{
        width: 100%;
        height: 200px;
        font-size: 25px;
    }

    /* Rectangle 1 */
    .mensaje{
        width: 327px;
        height: 250px;
        left: 24px;
        top: 650px;
    }

    .mensaje-encriptado{
        height: 70%;
    }
    
    .mensaje-encriptado p{
        font-size: 100%;
    }

    .mensaje div{
        width: 263px;
    }
    
    .mensaje-encontrado{
        height: 58px;
        margin: 0px;
    }

    .mensaje-aviso{
        margin: 0;
        height: 48px;
    }

    .munheco{
        display: none;
    }

    /* MUÑECO */
    .munheco img{
        display: none;
    }

    /* AVISO Y BOTONES */

    .frame13{
        top: 400px;
        left: 16px;
        width: 343px;
    }

    .botones{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    .boton1{
        width: 330px;
    }

    .boton2{
        width: 330px;
        margin: 16px 0 0 0;
    }

    .copiar{
        display: none;
        margin: 0 0 10px 0 !important;
        width: 100% !important;
    }

    /* FOOTER */

    footer{
        top: 933px;
        width: 375px;
        padding: 0 10px;
        
    }

    .redes a img{
        width: 15px;
    }

    .nombre{
        margin-left: 10px;
        text-align: center;
    }

}